.candysFlex{
    display: flex;
}

.candyDescription{
    background-color: #fff;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
}

.candyImagen{
    background-color: azure;
    width: 120px;
    height: 150px;
}


a{
    text-decoration: none;
}

.candyName{
    color: #000;
    background-color: #fff;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
}
 .btnContainer{
    background-color: #7F5C3C;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
 }

.btnPrice{
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.btnPrice:hover{
    background-color: #b2906f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media(max-width:750px){
    .candysFlex{
        justify-content: center;
    }
}

@media(max-width:560px){

    .candyImagen{
        width: 90%;
        height: 150px;
    } 
}
