*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movieImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}

a{
    text-decoration: none;
}

.movieTitle{
    text-align: center;
    color: #fff;
}

@media(max-width:560px){
    .moviesGrid{
        grid-template-columns: 100% ;
    }

    .imagen{
        display: flex;
        justify-content: center;
    }
    
    .movieImage{
        width: 40%;
        height: auto;
    } 
}
