*{
    background-color: #282850;
}

.titleP{
    color: #b0dafe;
    text-align: center;
    margin: 30px 0 30px 0;
}
.moviesGrid{
    display: grid;
    grid-template-columns: repeat(4,230px);
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

@media(max-width:560px){
    .moviesGrid{
        grid-template-columns: 100% ;
    } 
}