.spinner{
    display: flex;
    justify-content: center;
    background-color: none;
}

.spinning{
    animation: spinner 1s infinite;
    color: #fff;
}

@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}